# 파이썬 가상환경 (절대 올리면 안 됨)
venv/
env/

# 파이썬 실행 캐시 파일들
__pycache__/
*.pyc

# 유저들이 업로드한 이미지 파일들 (서버에만 저장)
uploads/

# 혹시 나중에 쓸 보안 비밀번호 파일
.env

# 맥 OS 시스템 파일 (혹시 모를 찌꺼기 방지)
.DS_Store

firebase-credentials.json